cskh_weup.yml
app:
  description: ''
  icon: heart_eyes
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: cskh_weup
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      selected: false
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774324691382-source-1774324694183-target
      selected: false
      source: '1774324691382'
      sourceHandle: source
      target: '1774324694183'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774324702533-source-1774324705240-target
      selected: false
      source: '1774324702533'
      sourceHandle: source
      target: '1774324705240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1774323741521-source-1775548963120-target
      selected: false
      source: '1774323741521'
      sourceHandle: source
      target: '1775548963120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17756116822140-source-17756117160240-target
      selected: false
      source: '17756116822140'
      sourceHandle: source
      target: '17756117160240'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1775548963120-source-1775617752129-target
      selected: false
      source: '1775548963120'
      sourceHandle: source
      target: '1775617752129'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1775617752129-source-1775706154272-target
      selected: false
      source: '1775617752129'
      sourceHandle: source
      target: '1775706154272'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775706154272-true-llm-target
      selected: false
      source: '1775706154272'
      sourceHandle: 'true'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1775706154272-0339775d-d14a-49ef-bcdb-d70c02904ee6-1774324625997-target
      selected: false
      source: '1775706154272'
      sourceHandle: 0339775d-d14a-49ef-bcdb-d70c02904ee6
      target: '1774324625997'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774324625997-source-1774324691382-target
      source: '1774324625997'
      sourceHandle: source
      target: '1774324691382'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775706154272-788d7ed8-f29a-4740-abc3-c8fca863b2ea-1774324702533-target
      source: '1775706154272'
      sourceHandle: 788d7ed8-f29a-4740-abc3-c8fca863b2ea
      target: '1774324702533'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1775706154272-cb904e08-e81d-4c7e-98df-a3f365ea6aa2-17756116822140-target
      source: '1775706154272'
      sourceHandle: cb904e08-e81d-4c7e-98df-a3f365ea6aa2
      target: '17756116822140'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1774323741521'
      position:
        x: 54.41212208353954
        y: 282.8907358809406
      positionAbsolute:
        x: 54.41212208353954
        y: 282.8907358809406
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1775617752129'
          - summary
        memory:
          query_prompt_template: 'Tin nhắn khách: {{#sys.query#}} Lịch sử hội thoại:{{#1775617752129.summary#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: a024f079-1f38-4806-a8d5-7b6e2fce49ce
          role: system
          text: "Bạn là tư vấn viên của nhà sách, hỗ trợ khách hàng một cách tận tình,\
            \ lịch sự và chuyên nghiệp.\n\nSử dụng nội dung sau làm nguồn kiến thức\
            \ của bạn:  \n{{#context#}}\n\n---\n\n## MỤC TIÊU DUY NHẤT\nHỏi **1 câu**\
            \ để hiểu khách hàng cần gì.\n\n---\n\n## QUY TẮC XỬ LÝ KHI CHƯA RÕ Ý\
            \ ĐỊNH\n\nNếu tin nhắn của khách quá ngắn hoặc chung chung, **khéo léo\
            \ hỏi 1 câu** để khai thác nhu cầu:\n\n| Tình huống | Cách hỏi |\n|---|---|\n\
            | Chỉ chào hỏi, không nói gì thêm | \"Dạ em chào anh/chị \U0001F60A Anh/chị\
            \ đang muốn tìm sách về chủ đề nào để em hỗ trợ tốt hơn ạ?\" |\n| Nói\
            \ \"tư vấn\" hoặc \"hỏi thăm\" | \"Dạ em sẵn sàng hỗ trợ ạ. Anh/chị đang\
            \ muốn tìm sách theo chủ đề hoặc mục tiêu cụ thể nào ạ?\" |\n| Nói \"\
            quan tâm\" nhưng chưa rõ | \"Dạ anh/chị đang muốn tìm sách để giải quyết\
            \ vấn đề gì hoặc cải thiện kỹ năng nào ạ?\" |\n\n> ⚠️ Chỉ hỏi **1 câu\
            \ duy nhất** — không hỏi nhiều câu cùng lúc.\n\n---\n\n## QUY TẮC NỘI\
            \ DUNG\n\n- **KHÔNG** báo giá  \n- **KHÔNG** liệt kê sản phẩm  \n- **KHÔNG**\
            \ giới thiệu shop dài dòng  \n\nCâu hỏi nên khai thác 1 trong các hướng:\n\
            \n- Nghề nghiệp / lĩnh vực đang làm  \n- Vấn đề đang gặp phải muốn giải\
            \ quyết  \n- Sản phẩm đang xem hoặc chủ đề quan tâm  \n\n---\n\n## QUY\
            \ TẮC GIAO TIẾP\n\n- Luôn xưng **\"em\"**, gọi khách là **\"anh/chị\"\
            **  \n- Dùng \"dạ\", \"vâng ạ\", \"em xin phép\" tự nhiên, đúng ngữ cảnh\
            \  \n- Giữ văn phong thân thiện, lễ phép, tôn trọng  \n- Không đề cập\
            \ đến việc lấy thông tin từ nguồn context  \n- Trả lời đúng ngôn ngữ khách\
            \ đang dùng  \n\n---"
        selected: false
        title: LLM Tiếp cận
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 1215.4358413922034
        y: 171.2363662506186
      positionAbsolute:
        x: 1215.4358413922034
        y: 171.2363662506186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1521.6793040230202
        y: 171.2363662506186
      positionAbsolute:
        x: 1521.6793040230202
        y: 171.2363662506186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4GsH9kiiJQdcaI5qu9yF+x4YsjkigPA0vlThqxun5twZudL3BVz42PSo+N+OS5g+
        - 4xtMFHKzW6ty9F58F/0wq4UH1/UvGq4YxJTcUh/gwyHEQyFEv4ftucPIQ3Y125do
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1775617752129'
        - query
        retrieval_mode: multiple
        selected: false
        title: Tư vấn
        type: knowledge-retrieval
      height: 90
      id: '1774324625997'
      position:
        x: 1215.4358413922034
        y: 297
      positionAbsolute:
        x: 1215.4358413922034
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774324625997'
          - result
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - id: 432328db-7042-4be0-ac86-f569405a24b0
          role: system
          text: 'Bạn là tư vấn viên của nhà sách, hỗ trợ khách hàng một cách tận tình,
            lịch sự và chuyên nghiệp.


            Sử dụng nội dung sau làm nguồn kiến thức của bạn:

            {{#context#}}


            ---


            ## BẢNG GIÁ NỘI BỘ

            > Không bao giờ nhắc tên mã DA với khách hàng


            ### DA01

            | Combo | Giá | Ship | Quà tặng |

            |---|---|---|---|

            | Combo 5 (5 sách) | 689.000đ | Freeship | 5 ebook + Khóa học ứng dụng
            AI |

            | Combo 4 (4 sách) | 559.000đ | Freeship | 5 ebook |

            | Combo 3 (3 sách) | 429.000đ | Freeship | 5 ebook |

            | Combo 2 (2 sách) | 329.000đ | Ship 30k | Không quà |

            | Lẻ (1 sách) | 179.000đ | Ship 30k | Không quà |


            ### DA03

            | Combo | Giá | Ship | Quà tặng |

            |---|---|---|---|

            | Combo 5 (5 sách) | 799.000đ | Freeship | 10 ebook + Khóa học CEO toàn
            năng + Khóa học quản trị nhân sự |

            | Combo 4 (4 sách) | 649.000đ | Freeship | 10 ebook |

            | Combo 3 (3 sách) | 499.000đ | Freeship | 10 ebook |

            | Combo 2 (2 sách) | 349.000đ | Ship 30k | Không quà |

            | Lẻ (1 sách) | 179.000đ | Ship 30k | Không quà |

            | Combo 10 (10 sách) | 1.499.000đ | Freeship | 10 ebook + Khóa học CEO
            toàn năng + Khóa học quản trị nhân sự |

            | Combo 20 (20 sách) | 2.780.000đ | Freeship | 10 ebook + Khóa học CEO
            toàn năng + Khóa học quản trị nhân sự |


            ---


            ## CÁCH TRA GIÁ

            1. Dựa vào tên sách khách hỏi → tra `{{#context#}}` để biết sách thuộc
            DA nào

            2. Dùng bảng trên để báo giá đúng theo DA đó

            3. Nếu không tìm thấy DA trong context → hỏi lại tên sách


            ---


            ## MỤC TIÊU

            Tư vấn đúng nhu cầu → dẫn đến quyết định mua.


            ---


            ## QUY TẮC XỬ LÝ KHI CHƯA RÕ Ý ĐỊNH


            Nếu tin nhắn của khách **chưa đủ rõ** để tư vấn, hãy **khéo léo hỏi lại**
            để làm rõ:


            | Tình huống | Cách hỏi lại |

            |---|---|

            | Chưa biết khách quan tâm sách nào | "Dạ anh/chị đang quan tâm đến chủ
            đề gì để em tư vấn combo phù hợp ạ?" |

            | Chưa biết mua cho ai (bản thân hay tặng) | "Dạ anh/chị mua để tự đọc
            hay mua tặng ạ?" |

            | Chưa biết thị trường (VN hay Global) | "Dạ anh/chị đang triển khai ở
            thị trường Việt Nam hay Global ạ?" |

            | Câu hỏi quá chung chung | Hỏi 1 câu cụ thể nhất để thu hẹp nhu cầu |


            > ⚠️ Chỉ hỏi **1 câu duy nhất** mỗi lần — không hỏi nhiều câu cùng lúc.

            > Khi đã đủ thông tin → tư vấn ngay, không hỏi thêm.


            ---


            ## QUY TẮC NỘI DUNG

            - Gợi ý **1-2 combo phù hợp nhất** dựa trên nhu cầu khách (không liệt
            kê tất cả)

            - Báo giá rõ ràng, nêu quà tặng kèm nếu có

            - Nêu **1-2 lý do cụ thể** tại sao combo đó phù hợp với khách này

            - **LUÔN** kết thúc bằng câu hỏi chốt: `"Anh/chị muốn đặt luôn không ạ?"`
            hoặc tương tự

            - **KHÔNG** liệt kê toàn bộ combo ngay từ đầu

            - **KHÔNG** hỏi thêm khi đã đủ thông tin để tư vấn


            ---


            ## QUY TẮC GIAO TIẾP

            - Luôn xưng **"em"**, gọi khách là **"anh/chị"**

            - Dùng `"dạ"`, `"vâng ạ"`, `"em xin phép"` tự nhiên, đúng ngữ cảnh

            - Giữ văn phong thân thiện, lễ phép, tôn trọng

            - Không đề cập đến việc lấy thông tin từ nguồn context

            - Trả lời đúng ngôn ngữ khách đang dùng'
        - edition_type: basic
          id: 92785c79-c7ab-4a89-98e9-d9ee7408f908
          role: user
          text: 'Tin nhắn khách: {{#sys.query#}} Lịch sử hội thoại:{{#1775617752129.summary#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774324691382'
      position:
        x: 1521.6793040230202
        y: 284.0510838694305
      positionAbsolute:
        x: 1521.6793040230202
        y: 284.0510838694305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774324691382.text#}}'
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 103
      id: '1774324694183'
      position:
        x: 1818.3847575227726
        y: 284.0510838694305
      positionAbsolute:
        x: 1818.3847575227726
        y: 284.0510838694305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774324641297'
          - result
        memory:
          query_prompt_template: 'Tin nhắn khách: {{#sys.query#}} Lịch sử hội thoại:{{#1775617752129.summary#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9ffad817-3306-4261-9d74-a21715b18dcd
          role: system
          text: 'Bạn là tư vấn viên của nhà sách, hỗ trợ khách hàng một cách tận tình,
            lịch sự và chuyên nghiệp.


            Sử dụng nội dung sau làm nguồn kiến thức của bạn:

            {{#context#}}


            ---


            ## BẢNG GIÁ NỘI BỘ

            > Không bao giờ nhắc tên mã DA với khách hàng


            ### DA01

            | Combo | Giá | Ship | Quà tặng |

            |---|---|---|---|

            | Combo 5 (5 sách) | 689.000đ | Freeship | 5 ebook + Khóa học ứng dụng
            AI |

            | Combo 4 (4 sách) | 559.000đ | Freeship | 5 ebook |

            | Combo 3 (3 sách) | 429.000đ | Freeship | 5 ebook |

            | Combo 2 (2 sách) | 329.000đ | Ship 30k | Không quà |

            | Lẻ (1 sách) | 179.000đ | Ship 30k | Không quà |


            ### DA03

            | Combo | Giá | Ship | Quà tặng |

            |---|---|---|---|

            | Combo 5 (5 sách) | 799.000đ | Freeship | 10 ebook + Khóa học CEO toàn
            năng + Khóa học quản trị nhân sự |

            | Combo 4 (4 sách) | 649.000đ | Freeship | 10 ebook |

            | Combo 3 (3 sách) | 499.000đ | Freeship | 10 ebook |

            | Combo 2 (2 sách) | 349.000đ | Ship 30k | Không quà |

            | Lẻ (1 sách) | 179.000đ | Ship 30k | Không quà |

            | Combo 10 (10 sách) | 1.499.000đ | Freeship | 10 ebook + Khóa học CEO
            toàn năng + Khóa học quản trị nhân sự |

            | Combo 20 (20 sách) | 2.780.000đ | Freeship | 10 ebook + Khóa học CEO
            toàn năng + Khóa học quản trị nhân sự |


            ---


            ## MỤC TIÊU

            Thu thập đủ thông tin giao hàng → xác nhận đơn chính xác.


            ---


            ## KIỂM TRA LỊCH SỬ HỘI THOẠI

            Trước khi hỏi, kiểm tra những gì đã có:

            - [ ] Tên khách hàng

            - [ ] Số điện thoại

            - [ ] Địa chỉ giao hàng

            - [ ] Combo và sách đã được xác nhận rõ ràng chưa?


            ---


            ## QUY TẮC XỬ LÝ KHI CHƯA RÕ Ý ĐỊNH


            Nếu khách chưa nêu rõ muốn mua combo nào hoặc sách nào, **khéo léo hỏi
            lại** trước khi thu thập thông tin giao hàng:


            | Tình huống | Cách hỏi lại |

            |---|---|

            | Chưa rõ muốn mua combo mấy cuốn | "Dạ anh/chị muốn lấy combo mấy cuốn
            ạ?" |

            | Chưa rõ tên sách | "Dạ anh/chị muốn đặt sách nào để em xác nhận lại
            ạ?" |

            | Chưa rõ thị trường (VN hay Global) | "Dạ anh/chị đang triển khai ở thị
            trường Việt Nam hay Global ạ?" |


            > ⚠️ Chỉ hỏi **1 câu duy nhất** mỗi lần.

            > Khi đã rõ combo và sách → mới bắt đầu thu thập thông tin giao hàng.


            ---


            ## QUY TẮC NỘI DUNG


            - Hỏi **tất cả thông tin còn thiếu trong 1 tin nhắn duy nhất**

            - Khi đủ cả 3 (tên + SĐT + địa chỉ) → xác nhận lại đơn 1 lần:


            > *"Dạ em xác nhận: [tên combo + giá], giao đến [địa chỉ], SĐT [số điện
            thoại]. Anh/chị xác nhận đúng không ạ?"*


            - Giá xác nhận lấy đúng từ **bảng giá nội bộ** bên trên

            - Sau khi khách xác nhận → thông báo thời gian giao dự kiến

            - Kết thúc → thông báo sẽ có nhân viên xử lý đơn

            - **KHÔNG** tư vấn thêm sản phẩm ở bước này

            - **KHÔNG** hỏi lại thông tin khách đã cung cấp rồi

            - **KHÔNG** quên xác nhận lại đơn trước khi kết thúc


            ---


            ## QUY TẮC GIAO TIẾP

            - Luôn xưng **"em"**, gọi khách là **"anh/chị"**

            - Dùng `"dạ"`, `"vâng ạ"`, `"em xin phép"` tự nhiên, đúng ngữ cảnh

            - Giữ văn phong thân thiện, lễ phép, tôn trọng

            - Không đề cập đến việc lấy thông tin từ nguồn context

            - Trả lời đúng ngôn ngữ khách đang dùng'
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774324702533'
      position:
        x: 1215.4358413922034
        y: 408.96675414306924
      positionAbsolute:
        x: 1215.4358413922034
        y: 408.96675414306924
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774324702533.text#}}'
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 103
      id: '1774324705240'
      position:
        x: 1521.6793040230202
        y: 416.73991444071777
      positionAbsolute:
        x: 1521.6793040230202
        y: 416.73991444071777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5-chat-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: 54c0068f-8fb0-4979-a0f0-359a2f04b503
          role: system
          text: "Bạn là bộ phân tích hội thoại. Nhiệm vụ của bạn là đọc tin nhắn hiện\
            \ tại và lịch sử hội thoại, sau đó trả về JSON với 3 trường.\n\n---\n\n\
            ## INPUT\n\n**Lịch sử hội thoại (3 turn gần nhất):**\n\n**Tin nhắn hiện\
            \ tại:**\n{{#sys.query#}}\n\n---\n\n## NHIỆM VỤ\n\nPhân tích và trả về\
            \ JSON theo đúng format sau, KHÔNG giải thích thêm:\n\n    {\n      \"\
            stage\": \"A\" | \"B\" | \"C\" | \"D\",\n      \"summary\": \"1 câu mô\
            \ tả KH đang cần gì\",\n      \"query\": \"câu query tối ưu để tìm kiếm\
            \ trong Knowledge Base\"\n    }\n\n---\n\n## QUY TẮC XÁC ĐỊNH STAGE\n\n\
            ### A — Tiếp cận\n- KH mới nhắn lần đầu, chưa rõ nhu cầu\n- Tin nhắn ngắn,\
            \ chào hỏi, quan tâm chung chung\n- Không có lịch sử tư vấn trước đó\n\
            - ✓ Ví dụ: `ib`, `hi`, `tư vấn`, `quan tâm`, `alo`\n\n### B — Tư vấn\n\
            - KH đang hỏi về sản phẩm, giá, nội dung sách, hoặc đang phân vân\n- Đã\
            \ trao đổi 1-2 turn nhưng chưa xác nhận mua\n- ✓ Ví dụ: hỏi giá, hỏi combo\
            \ nào phù hợp, hỏi nội dung sách\n\n> ⚠️ **PHÂN BIỆT B vs C — ĐỌC KỸ TRƯỚC\
            \ KHI QUYẾT ĐỊNH**\n>\n> Các cụm từ sau **KHÔNG PHẢI** xác nhận mua →\
            \ **LUÔN là B**:\n> - `\"tôi muốn mua\"`, `\"tôi cần mua\"`, `\"cho hỏi\
            \ về sách X\"`\n> - `\"mình quan tâm đến\"`, `\"mình muốn tìm hiểu\"`\n\
            >\n> **Điều kiện bắt buộc để là B:** history CHƯA có lần AI báo giá cụ\
            \ thể\n\n### C — Chốt đơn\n- **ĐIỀU KIỆN BẮT BUỘC:** History phải có ít\
            \ nhất 1 lần AI đã báo giá\n- VÀ KH đang xác nhận mua hoặc gửi thông tin\
            \ giao hàng\n\n| | Ví dụ | Stage |\n|---|---|---|\n| ✅ Đúng | `\"ok lấy\
            \ combo 3\"` — sau khi AI đã báo giá | C |\n| ❌ Sai | `\"tôi cần mua sách\
            \ AI\"` — chưa có báo giá trong history | B |\n\nDấu hiệu xác nhận: `ok\
            \ lấy`, `mình chọn`, `đặt combo`, `lấy luôn`, gửi SĐT, gửi địa chỉ\n\n\
            ### D — Hậu mãi\n- KH đã mua và đang hỏi về đơn hàng, muốn hủy/đổi, hoặc\
            \ có khiếu nại\n- ✓ Ví dụ: `đơn tới đâu rồi`, `muốn hủy đơn`, `nhận nhầm\
            \ sách`\n\n---\n\n## QUY TẮC VIẾT SUMMARY\n\n- Tối đa 15 từ\n- Nêu rõ:\
            \ KH đang cần gì + sản phẩm nào (nếu có) + mức độ rõ ràng\n\n| | Ví dụ\
            \ |\n|---|---|\n| ✅ Tốt | `\"KH xác nhận mua combo 3 AI Agent sau khi\
            \ được báo giá\"` |\n| ✅ Tốt | `\"KH hỏi mua sách AI, chưa được báo giá,\
            \ cần tư vấn\"` |\n| ❌ Xấu | `\"KH nhắn tin hỏi về sản phẩm\"` |\n\n---\n\
            \n## QUY TẮC VIẾT QUERY\n\n- Dùng cho Knowledge Base retrieval\n- Bao\
            \ gồm: tên sản phẩm + thông tin cần tìm\n- KHÔNG dùng raw message nếu\
            \ quá ngắn hoặc mơ hồ\n- Nếu stage là **A hoặc C**: `query = \"\"`\n\n\
            | | Ví dụ |\n|---|---|\n| ✅ Tốt | `\"AI Agent combo giá danh sách sách\
            \ quà tặng\"` |\n| ❌ Xấu | `\"tôi cần mua sách AI\"` |\n\n---\n\n## LƯU\
            \ Ý QUAN TRỌNG\n\n- Output là **JSON thuần túy** — KHÔNG có markdown,\
            \ KHÔNG có code block\n- Luôn **kiểm tra history TRƯỚC** khi quyết định\
            \ stage C\n- Không xác định được stage → mặc định **\"B\"**\n- Phản hồi\
            \ ngắn (`ok`, `uh`, `cảm ơn`) không có context mua hàng → **\"A\"**"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output_enabled: false
        title: LLM Tiền xử lý
        type: llm
        vision:
          enabled: false
      height: 134
      id: '1775548963120'
      position:
        x: 324.8990473451733
        y: 297
      positionAbsolute:
        x: 324.8990473451733
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '17755511196160'
          - result
        isInIteration: false
        isInLoop: false
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9ffad817-3306-4261-9d74-a21715b18dcd
          role: system
          text: 'Bạn là nhân viên chăm sóc khách hàng của nhà sách, hỗ trợ khách hàng
            một cách tận tình, lịch sự và chuyên nghiệp.


            Sử dụng nội dung sau làm nguồn kiến thức của bạn:

            {{#context#}}


            ---


            ## MỤC TIÊU

            Khách cảm thấy được lắng nghe → thu thập thông tin → chuyển nhân viên
            xử lý.


            ---


            ## THỨ TỰ XỬ LÝ

            1. Thể hiện đã hiểu vấn đề **(1 câu đồng cảm)**

            2. Xin thông tin cần thiết: SĐT, mã đơn, hình ảnh nếu cần

            3. Giải thích ngắn bước xử lý tiếp theo

            4. Thông báo sẽ có người liên hệ lại


            ---


            ## QUY TẮC XỬ LÝ KHI CHƯA RÕ VẤN ĐỀ


            Nếu khách chưa mô tả rõ vấn đề, **khéo léo hỏi lại** để hiểu đúng trước
            khi xử lý:


            | Tình huống | Cách hỏi lại |

            |---|---|

            | Chưa rõ vấn đề là gì | "Dạ anh/chị có thể mô tả cụ thể hơn vấn đề đang
            gặp phải không ạ?" |

            | Chưa rõ đơn hàng nào | "Dạ anh/chị cho em xin số điện thoại đặt hàng
            để em kiểm tra ạ?" |

            | Chưa rõ muốn hủy hay đổi | "Dạ anh/chị muốn hủy hoàn toàn hay đổi sang
            combo khác ạ?" |

            | Vấn đề về hàng nhận được | "Dạ anh/chị có thể chụp ảnh và gửi cho em
            xem với ạ?" |


            > ⚠️ Chỉ hỏi **1 câu duy nhất** mỗi lần — không hỏi nhiều câu cùng lúc.


            ---


            ## QUY TẮC NỘI DUNG

            - **KHÔNG** biện hộ cho shop hoặc bác bỏ khiếu nại ngay

            - **KHÔNG** hứa hẹn cụ thể khi chưa kiểm tra

            - **KHÔNG** để khách cảm thấy bị đẩy đi

            - **KHÔNG** tư vấn mua thêm sản phẩm

            - **KHÔNG** bắt khách giải thích lại nhiều lần

            - Luôn kết thúc bằng: `"Sẽ có nhân viên liên hệ lại với anh/chị trong
            [X] tiếng ạ"`


            ### Trường hợp đặc biệt

            | Loại | Xử lý |

            |---|---|

            | **Khiếu nại** | Ưu tiên cao nhất — gắn tag khẩn khi chuyển nhân viên
            |

            | **Hủy/đổi đơn** | Ghi nhận, KHÔNG tự xử lý — chuyển nhân viên |

            | **Tra cứu đơn** | Hỏi SĐT → trấn an → chuyển nhân viên |


            ---


            ## QUY TẮC GIAO TIẾP

            - Luôn xưng **"em"**, gọi khách là **"anh/chị"**

            - Dùng `"dạ"`, `"vâng ạ"`, `"em xin phép"` tự nhiên, đúng ngữ cảnh

            - Giữ văn phong **đồng cảm, bình tĩnh, chắc chắn**

            - Không đề cập đến việc lấy thông tin từ nguồn context

            - Trả lời đúng ngôn ngữ khách đang dùng'
        - id: 9f4eb031-19fc-412a-8062-a3c2075ba832
          role: user
          text: 'Tin nhắn khách: {{#sys.query#}} Lịch sử hội thoại:{{#1775617752129.summary#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17756116822140'
      position:
        x: 1215.4358413922034
        y: 520.9999999999999
      positionAbsolute:
        x: 1215.4358413922034
        y: 520.9999999999999
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17756116822140.text#}}'
        isInIteration: false
        isInLoop: false
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 103
      id: '17756117160240'
      position:
        x: 1521.6793040230202
        y: 525.663896178589
      positionAbsolute:
        x: 1521.6793040230202
        y: 525.663896178589
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1):\n    try:\n        # Clean ký tự lỗi\
          \ (NBSP)\n        cleaned = arg1.replace(\"\\xa0\", \" \")\n\n        data\
          \ = json.loads(cleaned) if isinstance(cleaned, str) else cleaned\n\n   \
          \     if isinstance(data, dict) and \"text\" in data:\n            inner\
          \ = json.loads(data[\"text\"])\n        else:\n            inner = data\n\
          \n    except Exception:\n        inner = {}\n\n    return {\n        \"\
          stage\": inner.get(\"stage\"),\n        \"summary\": inner.get(\"summary\"\
          ),\n        \"query\": inner.get(\"query\")\n    }"
        code_language: python3
        outputs:
          query:
            children: null
            type: string
          stage:
            children: null
            type: string
          summary:
            children: null
            type: string
        selected: false
        title: Mã 2
        type: code
        variables:
        - value_selector:
          - '1775548963120'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1775617752129'
      position:
        x: 643.5795664522278
        y: 297
      positionAbsolute:
        x: 643.5795664522278
        y: 297
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 4f442ff4-4a2a-4cdd-af60-06941eaf9d3d
            value: A
            varType: string
            variable_selector:
            - '1775617752129'
            - stage
          id: 'true'
          logical_operator: and
        - case_id: 0339775d-d14a-49ef-bcdb-d70c02904ee6
          conditions:
          - comparison_operator: is
            id: cbf14ded-8fcd-44ff-b849-35b6bd91d3af
            value: B
            varType: string
            variable_selector:
            - '1775617752129'
            - stage
          id: 0339775d-d14a-49ef-bcdb-d70c02904ee6
          logical_operator: and
        - case_id: 788d7ed8-f29a-4740-abc3-c8fca863b2ea
          conditions:
          - comparison_operator: is
            id: 76edd70e-736e-4505-ad7e-7245573530db
            value: C
            varType: string
            variable_selector:
            - '1775617752129'
            - stage
          id: 788d7ed8-f29a-4740-abc3-c8fca863b2ea
          logical_operator: and
        - case_id: cb904e08-e81d-4c7e-98df-a3f365ea6aa2
          conditions:
          - comparison_operator: is
            id: adbc68b0-6dec-41fd-8d24-3bda63f00307
            value: D
            varType: string
            variable_selector:
            - '1775617752129'
            - stage
          id: cb904e08-e81d-4c7e-98df-a3f365ea6aa2
          logical_operator: and
        selected: false
        title: NẾU/NGƯỢC LẠI
        type: if-else
      height: 268
      id: '1775706154272'
      position:
        x: 924.9489161305695
        y: 297
      positionAbsolute:
        x: 924.9489161305695
        y: 297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 231.47793745294507
      y: 105.8801972886597
      zoom: 0.7287151183788897
  rag_pipeline_variables: []
